/* PHASE 2: Navigation */

.header-logo {
    float: left;
    font-weight: 700;
    border-right: #ccc solid 1px;
}

.header-logo:hover {
    background: #000;
}

.header-list {
    float: right;
}

.header-list > li {
    float: left;
    border-left: #ccc solid 1px;
}

.header-list > li:hover {
    background: #000;
}
